{
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true
  },
  "rules": {
    "quotes": [ 1, "single" ],
    "no-undef": 0,
    "global-strict": 0,
    "no-extra-semi": 1,
    "no-underscore-dangle": 0,
    "no-mixed-spaces-and-tabs": 0,
    "no-console":0,
    "no-trailing-spaces": 1,
    "no-multi-spaces": 1,
    "curly": 0
  }
}
